<configuration scan="true">
    <!-- This is default production configuration. Maven should include it in JAR file. -->

    <!-- Enable JMX interface (runtime configuration using Hawtio etc.) -->
    <jmxConfigurator />

    <!-- Make sure all compression tasks are finished before exiting JVM. -->
    <!-- TODO: change the class name to DefaultShutdownHook when updating to logback 1.3+ -->
    <!-- TODO: The below directive closes logger immediately after receiving shutdown signal,
    without waiting for services to stop. Disabled for now. -->
    <!--<shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook" />-->

    <!-- Console logger -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36}: %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File logger -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>processm-dev.log</file>
        <encoder>
            <pattern>%date %-5level [%thread] %logger{10}: %msg%n</pattern>
        </encoder>
        <!-- Log rotation -->
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>processm-dev.%i.log.gz</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </appender>

    <!-- Default level -->
    <root level="WARN">
        <appender-ref ref="ASYNC"/>
    </root>
    <!-- Level for our classes -->
    <logger name="processm" level="INFO"/>

</configuration>