*.iml
*.log
*.log.gz
/.idea/
data/
target/
processm.core/gen/
/processm.webui/src/main/node/
*.DS_Store
/processm-docker-image.tar
*dependency-reduced-pom.xml
/processm.webui/src/main/frontend-app/tsconfig.tsbuildinfo
