/**
 * Processm
 * Description of api methods used in processm.
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package processm.services.api

import io.ktor.locations.KtorExperimentalLocationsAPI
import io.ktor.locations.Location

object Paths {
    /**
     * Get or remove the specified group
     *
     * @param groupId Group ID
     */
    @KtorExperimentalLocationsAPI
    @Location("/groups/{groupId}") class Group(val groupId: java.util.UUID)

    /**
     * Get members of the specified group
     *
     * @param groupId Group ID
     */
    @KtorExperimentalLocationsAPI
    @Location("/groups/{groupId}/members") class GroupMembers(val groupId: java.util.UUID)

    /**
     * Get groups belonging to the current user&#39;s organization
     *
     */
    @KtorExperimentalLocationsAPI
    @Location("/groups") class Groups()

    /**
     * Get subgroups of the specified group
     *
     * @param groupId Group ID
     */
    @KtorExperimentalLocationsAPI
    @Location("/groups/{groupId}/subgroups") class Subgroups(val groupId: java.util.UUID)

    /**
     * Remove member from the specified group
     *
     * @param groupId Group ID
     * @param userId User ID
     */
    @KtorExperimentalLocationsAPI
    @Location("/groups/{groupId}/members/{userId}") class GroupMember(val groupId: java.util.UUID, val userId: java.util.UUID)

    /**
     * Remove the specified subgroup
     *
     * @param groupId Group ID
     * @param subgroupId Subgroup ID
     */
    @KtorExperimentalLocationsAPI
    @Location("/groups/{groupId}/subgroups/{subgroupId}") class Subgroup(val groupId: java.util.UUID, val subgroupId: java.util.UUID)

    /**
     * Get or remove the specified organization
     *
     * @param organizationId Organization ID
     */
    @KtorExperimentalLocationsAPI
    @Location("/organizations/{organizationId}") class Organization(val organizationId: java.util.UUID)

    /**
     * Get groups associated with the specified organization
     *
     * @param organizationId Organization ID
     */
    @KtorExperimentalLocationsAPI
    @Location("/organizations/{organizationId}/groups") class OrganizationGroups(val organizationId: java.util.UUID)

    /**
     * Get members of the specified organization
     *
     * @param organizationId Organization ID
     */
    @KtorExperimentalLocationsAPI
    @Location("/organizations/{organizationId}/members") class OrganizationMembers(val organizationId: java.util.UUID)

    /**
     * Get members of the specified organization
     *
     * @param organizationId Organization ID
     */
    @KtorExperimentalLocationsAPI
    @Location("/organizations") class Organizations()

    /**
     * Remove member from the specified organization
     *
     * @param organizationId Organization ID
     * @param userId User ID
     */
    @KtorExperimentalLocationsAPI
    @Location("/organizations/{organizationId}/members/{userId}") class OrganizationMember(val organizationId: java.util.UUID, val userId: java.util.UUID)

    /**
     * Get details about current user
     *
     */
    @KtorExperimentalLocationsAPI
    @Location("/users/me") class UserAccountDetails()

    /**
     * Get organizations which the current user is a member of
     *
     */
    @KtorExperimentalLocationsAPI
    @Location("/users/me/organizations") class UserOrganizations()

    /**
     * Get organizations which the current user is a member of
     *
     */
    @KtorExperimentalLocationsAPI
    @Location("/users") class Users()

    /**
     * Get users associated with the current user by organization membership
     *
     */
    @KtorExperimentalLocationsAPI
    @Location("/users/session") class UserOut()

    /**
     * Get, update or remove the specified workspace in the context of the specified organization
     *
     * @param organizationId Organization ID
     * @param workspaceId Workspace ID
     */
    @KtorExperimentalLocationsAPI
    @Location("/organizations/{organizationId}/workspaces/{workspaceId}") class Workspace(val organizationId: java.util.UUID, val workspaceId: java.util.UUID)

    /**
     * Get or update the specified component in the specified workspace in the context of the specified organization
     *
     * @param organizationId Organization ID
     * @param workspaceId Workspace ID
     * @param componentId Component ID
     */
    @KtorExperimentalLocationsAPI
    @Location("/organizations/{organizationId}/workspaces/{workspaceId}/components/{componentId}") class WorkspaceComponent(val organizationId: java.util.UUID, val workspaceId: java.util.UUID, val componentId: java.util.UUID)

    /**
     * Get data of the specified component in the specified workspace in the context of the specified organization
     *
     * @param organizationId Organization ID
     * @param workspaceId Workspace ID
     * @param componentId Component ID
     */
    @KtorExperimentalLocationsAPI
    @Location("/organizations/{organizationId}/workspaces/{workspaceId}/components/{componentId}/data") class WorkspaceComponentData(val organizationId: java.util.UUID, val workspaceId: java.util.UUID, val componentId: java.util.UUID)

    /**
     * Get all components available to the calling user in the specified workspace in the context of the specified organization
     *
     * @param organizationId Organization ID
     * @param workspaceId Workspace ID
     */
    @KtorExperimentalLocationsAPI
    @Location("/organizations/{organizationId}/workspaces/{workspaceId}/components") class WorkspaceComponents(val organizationId: java.util.UUID, val workspaceId: java.util.UUID)

    /**
     * Get all workspaces available to the calling user in the context of the specified organization
     *
     * @param organizationId Organization ID
     */
    @KtorExperimentalLocationsAPI
    @Location("/organizations/{organizationId}/workspaces") class Workspaces(val organizationId: java.util.UUID)

}
